a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.form__label,
.logo__svg,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    font-family: Alegreya, serif;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
.screenreader-text {
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
    top: auto;
}
.hero__teaser,
.main__carousel {
    position: relative;
}
.screenreader-text:focus {
    color: #000;
    background-color: #fff;
    display: inline-block;
    height: auto;
    width: auto;
    margin: auto;
    left: 0;
    padding: 5px;
}
:root {
    --color-black: #000;
    --color-dark-gray: #4a4a4a;
    --color-gray: #dbdbdb;
    --color-light-gray: #f5f5f5;
    --color-white: #fff;
    --color-green: #7ed31f;
    --background-color: #0d6392;
    --text-color: var(--color-white);
    --font-xlarge: 35px;
    --font-large: 18px;
    --font-base: 16px;
    --font-small: 13px;
    --line-height: 1.2;
    --line-height-large: 1.5;
    --spacing-large: 50px;
    --spacing-medium: 30px;
    --spacing-small: 20px;
    --spacing-xsmall: 15px;
}
.main__advertising {
    background-color: var(--color-light-gray);
    padding: 30px 100px;
    display: flex;
    justify-content: space-around;
    min-height: calc(200px + 60px);
}
.main__content {
    padding: 30px;
    margin: auto;
    max-width: 1200px;
}
.main__hero {
    height: 400px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
.main__content img {
    width: 100%;
}
.div1 {
    grid-area: 1/1/3/2;
}
.div2 {
    grid-area: 1/2/2/3;
}
.div3 {
    grid-area: 2/2/3/3;
}
.main__section {
    margin-bottom: 30px;
}
.main__video {
    display: flex;
    justify-content: space-between;
}
.footer__content,
.header__content {
    align-items: center;
    max-width: 1200px;
    display: flex;
}
@font-face {
    font-family: Alegreya;
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/alegreya-v29-latin-regular.woff2') format('woff2'),
        url('../fonts/alegreya-v29-latin-regular.woff') format('woff'),
        url('../fonts/alegreya-v29-latin-regular.ttf') format('truetype'),
        url('../fonts/alegreya-v29-latin-regular.svg#Alegreya') format('svg');
}
@font-face {
    font-family: Alegreya;
    font-style: normal;
    font-weight: 900;
    src: local(''), url('../fonts/alegreya-v29-latin-900.woff2') format('woff2'),
        url('../fonts/alegreya-v29-latin-900.woff') format('woff'),
        url('../fonts/alegreya-v29-latin-900.ttf') format('truetype'),
        url('../fonts/alegreya-v29-latin-900.svg#Alegreya') format('svg');
}
.disclaimer__base {
    background: var(--color-light-gray);
}
.disclaimer__text {
    padding: 30px;
    max-width: 1200px;
    text-align: center;
}
.footer__base,
.header__base {
    background: var(--background-color);
    color: var(--text-color);
}
.footer__content {
    justify-content: space-between;
    margin: auto;
    padding: 30px;
}
.footer__menu,
.navigation__list {
    display: flex;
}
.footer__link {
    color: #fff;
    margin-right: 20px;
}
.footer__link:focus,
.footer__link:hover {
    color: #fff;
}
.form__base {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 40px;
}
.form__button {
    padding: 2px 6px;
    border: 2px outset gray;
}
.header__content {
    justify-content: space-between;
    margin: auto;
    padding: 0 30px;
}
.header__image {
    width: 250px;
}
.navigation__link {
    color: var(--text-color);
    font-size: 1.25em;
    margin: 0 4px;
    padding: 4px;
    text-decoration: none;
}
.navigation__link:focus,
.navigation__link:hover {
    color: #fff;
}
.hero__teaser {
    height: 100%;
    overflow: hidden;
    background-color: var(--background-color);
}
.hero__teaserText,
.swiper-text {
    position: absolute;
    font-weight: 700;
}
.hero__teaserText {
    left: 5%;
    top: 60%;
    max-width: 80%;
    font-size: 25px;
    color: #fff;
}
.hero__carousel {
    height: 100%;
}
.swiper {
    width: 100%;
    height: 400px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-size: cover;
}
.swiper-text {
    top: 70%;
    left: 20px;
    font-size: 35px;
    color: var(--color-white);
    max-width: 65%;
    z-index: 1;
}
.teaser__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.teaser__base {
    display: flex;
    flex-direction: column;
}
.teaser__item {
    width: 28%;
    padding: 1.35rem;
    border-radius: 4px;
    border: 1px solid #363636;
}
.teaser__item.isfocused {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(38, 50, 190, 0.8);
}
.isfocused a:focus {
    outline: 0;
}
.teaser__item--isLink:hover {
    cursor: pointer;
    box-shadow: 0 0 0 3px rgba(38, 50, 190, 0.8);
}
.teaser__image {
    order: -1;
}
.teaser__title {
    display: block;
    font-size: 20px;
    font-weight: 700;
    border-top: 1px solid #d3d3d3;
    padding-top: 15px;
    margin-top: 20px;
}
.teaser__title a {
    text-decoration: none;
    color: inherit;
}
.teaser__text {
    margin: 16px 0;
}
.teaser__link {
    display: block;
    text-align: end;
    text-decoration: underline;
}
